
.buton{
    background-color: blueviolet;
}
.titulo{
    color: blue;
    
}



  .ahora:hover {
 border: style ;

  }
  .moda{
    background-color: red;
    border: solid 3px;
    color: blue;
  }
  .moda:hover{
    background-color: red;
    border: solid 3px;
    color: rgb(255, 196, 0);
  }
   
   
